* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, serif;
}

body {
    background-color: #c4c4c4;
}

main {
    padding: 15px;
}

header {
    padding: 15px;
}

.bd {
    border: 2px solid red;
}

.container-main{
    background:  linear-gradient(145deg, #f3f4f6, #e2e2e2);
    padding: 30px;
    border-radius: 20px;
}

#logo img{
    height: 80px;
    width: 80px;
}