:root {
    --primary-color: #000000;
    --color-component: #2c3e5042;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carrossel {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    background: url(https://picsum.photos/200/300
    );
}

.carrossel-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: var();
}

.carrossel-container img {
    height: 400px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.active {
    opacity: 1;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Estilo para os indicadores de navegação */
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: rgba(255, 255, 255, 1);
}

