:root {
    --primary-color: #000000;
    --color-component: #2c3e5042;
}

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, serif;
}

body {
    background-color: #e9e5e5;
}

main {
    padding: 15px;
}

header {
    padding: 15px;
}

.bd {
    border: 2px solid red;
}

/* Cabeçalho */
.navbar {
    background-color: var(--primary-color);
    border-radius: 20px;
    min-height: 90px;
    padding: 20px;
}

/* Logo */
.logo img {
    height: 40px;
}

/* links do cabeçalho */
/* Estilo para os botões */
.navbar-nav {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-component);
    padding: 10px 0;
    border-radius: 20px;
}

.nav-option {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}


/* Corrossel de avisos */
.sctn-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
}

.carousel {
    width: 900px;
}

.container-share {
    /*  Botão de compartilhamento*/
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

.btn i {
    /* Botão de compartilhamento */
    color: var(--primary-color);
    font-size: 20px;
}

.share:hover {
    transform: scale(0.9);
}